.ui.input{
    margin-left: 5%;
}

.ui.raised.segments{
    position: relative;
    top: 1%;
    width: 96%;
    margin: 2%;
}

.ui.circular.button{
    position: relative;
    left: 5%;
}

#control_button{
    position: relative;
}

#control_button button{
    position: relative;
    left: 40%;
}