.ui.raised.segments{
    position: absolute;
    width: 100%;
}

.ui.input{
    margin-left: 5%;
}

.ui.circular.button{
    position: relative;
    left: 5%;
    // float: right;
}

// #control_button{
//     // position: relative;
// }

#control_button button{
    position: relative;
    width: 100%;
    // left: 80%;
}

#useForFillTripPlan{
    // display: none;
    visibility: hidden;
}